
DemoApplication/.vs/DemoApplication/FileContentIndex/1f4c363f-8b4c-42df-8161-741bb8ca072a.vsidx
DemoApplication/.vs/DemoApplication/FileContentIndex/35e10f90-a9a1-42ab-a5f6-90b4edd783e3.vsidx
DemoApplication/.vs/DemoApplication/FileContentIndex/54f236f9-6b34-435d-89b7-a7d04c67411a.vsidx
DemoApplication/.vs/DemoApplication/FileContentIndex/ad467efe-4a8f-46cc-be0b-8801b33f9572.vsidx
DemoApplication/.vs/DemoApplication/FileContentIndex/f0c2d045-2372-4353-9008-b7bdbd9fcf81.vsidx
DemoApplication/.vs/DemoApplication/FileContentIndex/fb331d35-9242-4c90-98bd-e218a0d75311.vsidx
DemoApplication/.vs/DemoApplication/FileContentIndex/35e10f90-a9a1-42ab-a5f6-90b4edd783e3.vsidx
DemoApplication/.vs/DemoApplication/FileContentIndex/ad467efe-4a8f-46cc-be0b-8801b33f9572.vsidx
DemoApplication/.vs/DemoApplication/FileContentIndex/f0c2d045-2372-4353-9008-b7bdbd9fcf81.vsidx
DemoApplication/.vs/DemoApplication/v17/.suo
DemoApplication/.vs/DemoApplication/v17/DocumentLayout.json
DemoApplication/SecondInterviewRelliSource/bin/Release/net8.0/SecondInterviewRelliSource.dll
DemoApplication/SecondInterviewRelliSource/bin/Release/net8.0/SecondInterviewRelliSource.exe
DemoApplication/SecondInterviewRelliSource/bin/Release/net8.0/SecondInterviewRelliSource.pdb
DemoApplication/SecondInterviewRelliSource/obj/Release/net8.0/apphost.exe
DemoApplication/SecondInterviewRelliSource/obj/Release/net8.0/ref/SecondInterviewRelliSource.dll
DemoApplication/SecondInterviewRelliSource/obj/Release/net8.0/refint/SecondInterviewRelliSource.dll
DemoApplication/SecondInterviewRelliSource/obj/Release/net8.0/SecondInterviewRelliSource.AssemblyInfo.cs
DemoApplication/SecondInterviewRelliSource/obj/Release/net8.0/SecondInterviewRelliSource.AssemblyInfoInputs.cache
DemoApplication/SecondInterviewRelliSource/obj/Release/net8.0/SecondInterviewRelliSource.dll
DemoApplication/SecondInterviewRelliSource/obj/Release/net8.0/SecondInterviewRelliSource.pdb
DemoApplication/SecondInterviewRelliSource/obj/Release/net8.0/SecondInterviewRelliSource.sourcelink.json
